<div class="burger-navbar" style="font-size:25px;cursor:pointer;" (click)="onClickMe()">&#9776;</div>
<div id="mySidenav" class="sidenav">
    <a (click)="onClose()" >&times;</a>
    <li *ngFor="let item of items"
        style = "list-style-type: none;"
        [ngSwitch]="item.target">
        <a *ngSwitchCase="'_blank'"
           [href]="item.link"
           [target]="item.target">
            {{item.name}}
        </a>
        <a *ngSwitchDefault
           routerLink="{{item.link}}"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{exact: true}">
            {{item.name}}
        </a>
    </li>
</div>
<div class="navbar">
    <ul>
        <li *ngFor="let item of items" [ngSwitch]="item.target">
            <a *ngSwitchCase="'_blank'"
               [href]="item.link"
               [target]="item.target">
                {{item.name}}
            </a>
            <a *ngSwitchDefault
               routerLink="{{item.link}}"
               routerLinkActive="active-link"
               [routerLinkActiveOptions]="{exact: true}">
                {{item.name}}
            </a>
        </li>
    </ul>
</div>
