<div class="order-wrapper">
    <table align="center">
            <tr>
                <th class="table-header">Lite</th>
                <th class="table-header">Super</th>
            </tr>
            <tr>    
                <td
                        class="table-content"
                        [innerHTML]="'order.same' | translate"
                        colspan="2">
                </td>  
            </tr>
            <tr> 
                <td>—</td>
                <td
                        class="table-content"
                        [innerHTML]="'order.difference' | translate"></td>
            </tr>
            <!--<tr style="background-color: white">-->
                <!--<td style = "text-align: center; border: none;padding: 0px;"><button class="order-button">Заказать</button></td> -->
                <!--<td style = "text-align: center; border: none; padding: 0px;"><button class="order-button">Заказать</button></td>  -->
            <!--</tr>-->
    </table>

    <p>{{'order.price' | translate}}</p>

    <p>{{'order.contact' | translate}}</p>

    <div class="example-container">
        <mat-form-field>
            <input matInput [placeholder]="'order.name' | translate" [(ngModel)]="name" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Mail" [(ngModel)]="mail">
        </mat-form-field>

        <mat-form-field>
            <input matInput [placeholder]="'order.phone' | translate" [(ngModel)]="phone" >
        </mat-form-field>

        <mat-progress-bar *ngIf="status === OrderStatus.Sending" mode="buffer"></mat-progress-bar>

        <div *ngIf="status === OrderStatus.Sended">
            <p *ngIf="success">
                {{'order.successSending' | translate}}
            </p>
            <p *ngIf="!success">
                {{error}}
            </p>
        </div>

        <button class="order-button" (click)="send()">{{'order.send' | translate}}</button>

    </div>
</div>
