.order-wrapper {
    font-family: Helvetica, serif;
    padding-top: 30px;

    margin: 20px auto;
    max-width: 400px;

    //padding-right: 10px;
    //padding-left:  10px;

    ul {
        padding-left: 0;
    }

    table {
        table-layout: fixed;
        width: 100%;
        border-radius: 50px;

    }

    .order-button {
        padding: 8px;
        margin: 30px -2px;
        font-size: 16px;
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
        &:hover {
            background-color: black;
            color: white;
        }
    }

    .name {
        font-size: 20px;
        margin-top: 12px;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 50%;
    }

    .column-name {
        flex: 33%;
    }

    .column-one {
        flex: 67%;
    }

    .example-container {
        display: flex;
        flex-direction: column;
    }

    .example-container > * {
        width: 100%;
    }

    .table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        font-family: Arial, Helvetica, sans-serif;
        border: 0px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr {
        background-color: #dddddd;
    }

    .table-header {
        text-align: center;
        font-size: 20px;
        width: 25% ;
    }

    .table-content {
        text-align: left;
    }
}
