<div class="order-wrapper">
    <table align="center">
            <tr>
                <th class="table-header">Lite</th>
                <th class="table-header">Super</th>
            </tr>
            <tr>    
                <td class="table-content" colspan="2" i18n>
                    Bluetooth 4.2 <br> 
                    Дуга и корпус: закаленная сталь <br> 
                    Рама: алюминий <br>
                    Декоративное покрытие: полиолефин <br>
                    Диаметр дуги: 18 мм <br>
                    Охватываемое пространство: 10 на 16 см
                </td>  
            </tr>
            <tr> 
                <td>—</td>
                <td class="table-content" i18n>IoT 2G модуль <br>
                    Чувствительное покрытие <br>
                    Акселерометр 
                </td>
            </tr>
            <!--<tr style="background-color: white">-->
                <!--<td style = "text-align: center; border: none;padding: 0px;"><button class="order-button">Заказать</button></td> -->
                <!--<td style = "text-align: center; border: none; padding: 0px;"><button class="order-button">Заказать</button></td>  -->
            <!--</tr>-->
    </table>

    <p i18n>Цена и возможность заказать замок появятся после достижения договоренностей с фабриками о массовом производстве.</p>

    <p i18n>Оставьте контакты, чтобы получить замок первым.</p>

    <div class="example-container">
        <mat-form-field>
            <input i18n matInput placeholder="Имя" [(ngModel)]="name" >
        </mat-form-field>
        <mat-form-field>
            <input i18n matInput placeholder="Mail" [(ngModel)]="mail">
        </mat-form-field>

        <mat-form-field>
            <input i18n matInput placeholder="Телефон" [(ngModel)]="phone" >
        </mat-form-field>

        <mat-progress-bar *ngIf="status === OrderStatus.Sending" mode="buffer"></mat-progress-bar>

        <div *ngIf="status === OrderStatus.Sended">
            <p i18n *ngIf="success">
                Данные отправлены.
            </p>
            <p i18n *ngIf="!success">
                {{error}}
            </p>
        </div>

        <button i18n class="order-button" (click)="send()">Отправить</button>

    </div>
</div>
