
<div class="wrapper" style = "padding-top: 10px">
    <ul class="contact" style="list-style: none">
        <li *ngFor="let contact of contacts">
            <a href="{{contact.href}}"
               [ngSwitch]="contact.svgIcon"
               target="_blank" style = "text-decoration: none; color: black">
                <mat-icon *ngSwitchCase="'mail'" >mail</mat-icon>
                <mat-icon *ngSwitchDefault
                          svgIcon="{{contact.svgIcon}}"></mat-icon>
                {{contact.name}}
            </a>
        </li>
    </ul>
</div>
