<div class="wrapper" style = "max-width: 640px; padding-top: 20px">

    <div align="center">
        <a class="icon-appstore" href= "#"><img src="assets/images/appstore.svg"></a>
        <a class="icon-googleplay" href="#"><img src="assets/images/googleplay.png"></a>
    </div>

    <p class="contact">Приложения будут доступны после окончания краудфандинга, для участия в тестировании напишите на <a href="mailto:tzarsharing@gmail.com" style = "text-decoration: none; color: black"> <mat-icon style="top: 6px">mail</mat-icon>tzarsharing@gmail.com</a>.
    </p>

</div>
