<div class="wrapper" style = "max-width: 640px; padding-top: 20px">

    <div align="center">
        <a class="icon-appstore" target="_blank" href="https://apps.apple.com/app/id1402277829"><img [src]="'assets/images/appstore_' + path.apple + '.svg'"></a>
        <a class="icon-googleplay" target="_blank" href="https://play.google.com/store/apps/details?id=su.tzar.borovovaleksandr.tzar" onclick="ga('send', 'event', 'Button', 'press', 'Android');"><img [src]="'assets/images/googleplay_' + path.google + '.png'"></a>
    </div>

    <p class="contact">
        {{'contact.app' | translate}}
        <a href="mailto:tzarsharing@gmail.com" class="link">
            <mat-icon>mail</mat-icon>tzarsharing@gmail.com
        </a>.
    </p>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</div>
