<div style = "padding-top: 10px" class="wrapper" >

    <h1>{{'lock.cost.h' | translate}}</h1>
    <p>
        {{'lock.cost.p' | translate}}
    </p>

    <h1>{{'lock.rent.h' | translate}}</h1>
    <ol>
        <li>
            <a [style.color]="'black'" routerLink="/downloads">{{'lock.rent.p.li1' | translate}}</a>.
        </li>
        <li>
            {{'lock.rent.p.li2' | translate}}
        </li>
        <li>
            {{'lock.rent.p.li3' | translate}}
        </li>
        <li>
            {{'lock.rent.p.li4' | translate}}
        </li>
        <li>
            {{'lock.rent.p.li5' | translate}}
        </li>
        <li>
            {{'lock.rent.p.li6' | translate}}
        </li>
        <li>
            {{'lock.rent.p.li7' | translate}}
        </li>
    </ol>


    <h1>{{'lock.end.h' | translate}}</h1>
    <ol [innerHTML]="'lock.end.p' | translate"></ol>


<!--    <h1>{{'lock.share.h' | translate}}</h1>-->
<!--    <ol [innerHTML]="'lock.share.p' | translate"></ol>-->


<!--    <h1>{{'lock.smart.h' | translate}}</h1>-->
<!--    <ul [innerHTML]="'lock.smart.p' | translate"></ul>-->


<!--    <h1>{{'lock.highSecure.h' | translate}}</h1>-->
<!--    <ul [innerHTML]="'lock.highSecure.p' | translate"></ul>-->






<!--    <h1>{{'lock.restrictions.h' | translate}}</h1>-->
<!--    <p>-->
<!--        {{'lock.restrictions.p' | translate}}-->
<!--    </p>-->
</div>
