
<div style = "padding-top: 10px" class="wrapper">

<h1>Электронный</h1>

<ul>
    <li>
        Управление по bluetooth.
    </li>
    <li>
        Акселерометр и датчик температуры.
    </li>
    <li>
        Батареи хватит на 10 тысяч открытий или 2 года ожидания.
    </li>
</ul>


<h1>Высокая защита</h1>

<ul>
    <li>
        U-образный, блокируются оба конца дуги.
    </li>
    <li>
        Выполнен из закаленной стали.
    </li>
    <li>
        Обтянут чувствительным покрытием. При его повреждении отправит оповещение.
    </li>
</ul>


<h1>Как сдать велосипед в аренду</h1>

<ol>
    <li>
        Вы сможете заключить с нами партнерский договор. Для этого вам нужно будет открыть ИП. Либо вы сможете как физическое лицо заключить с нами агентский договор, тогда обязанность выплаты государству НДФЛ мы возьмем на себя, но ваш доход будет уменьшен на величину этого налога. Более подробная информация будет доступна после завершения краудфандинговой кампании, но общая юридическая схема будет по аналогии с Яндекс.Такси или Uber.
    </li>
    <li>
        Создать в приложении зону парковки велосипеда, в которой по вашему мнению арендаторы должны его оставлять по завершении аренды.
    </li>
    <li>
        Поменять в приложении статус велосипеда с личного на сдающийся. Эта опция станет доступна после заключения договора из п1. После этого велосипед начнет отображаться на карте для других пользователей приложения.
    </li>
    <li>
        Оставить велосипед на улице, запертым на замок Tzar.
    </li>
</ol>


<h1>Как взять в аренду</h1>
<ol>
    <li>
        Положить деньги на счет с помощью приложения.
    </li>
    <li>
        Найти подходящий велосипед на карте и подойти к нему.
    </li>
    <li>
        Нажать на значок фотоаппарата в приложении и навести камеру на QR код на торце замка.
    </li>
    <li>
        Нажать на кнопку и через 2 секунды отпустить. В приложении должно появиться сообщение о получении данных об открытии, а замок должен открыться.
    </li>
    <li>
        Во время поездки вы можете оставлять велосипед запертым на замок. Для этого просто пристегните велосипед и нажмите на кнопку - замок должен закрыться, а поездка не должна закончиться.
    </li>
</ol>


<h1>Как завершить аренду</h1>
<ol>
    <li>
        Нажмите на значок фотоаппарата в приложении и наведите камеру на QR код.
    </li>
    <li>
        Пристегните велосипед и нажмите кнопку. Замок должен закрыться, а поездка закончиться.
    </li>
</ol>


<h1>Ограничения</h1>
<p>
    Мы не рекомендуем использовать замок при температурах ниже нуля, так как аккумулятор может замерзнуть и замок заблокироваться.
</p>
</div>
