
<div style = "padding-top: 10px" class="wrapper">

<h1>Электронный</h1>

<ul>
    <li>
        Управление по bluetooth.
    </li>
    <li>
        Акселерометр и датчик температуры.
    </li>
    <li>
        Батареи хватит на 10 тысяч открытий или 2 года ожидания.
    </li>
</ul>


<h1>Высокая защита</h1>

<ul>
    <li>
        U-образный, блокируются оба конца дуги.
    </li>
    <li>
        Выполнен из закаленной стали.
    </li>
    <li>
        Обтянут чувствительным покрытием. При его повреждении отправит оповещение.
    </li>
</ul>


<h1>Как сдать велосипед в аренду</h1>

<ol>
    <li>
        Если удобно работать через ИП — заключить с нами партнерский договор. Как физическое лицо — заключить агентский
        договор, доход уменьшится на величину НДФЛ. Общая юридическая схема похожа на работу Uber. Подробности появятся
        после завершения краудфандинга.
    </li>
    <li>
        В приложении создать зоны парковки велосипеда, в которых арендаторы смогут его оставить.
    </li>
    <li>
        Изменить статус с личного на сдающийся. Опция появится после заключения
        договора из 1-го пункта. Велосипед отобразится на карте у других пользователей.
    </li>
</ol>


<h1>Как взять в аренду</h1>
<ol>
    <li>
        В приложении положить деньги на счет.
    </li>
    <li>
        Найти подходящий велосипед на карте.
    </li>
    <li>
        Нажать на значок фотоаппарата, сфотографировать QR-код замка.
    </li>
    <li>
        Не выключая приложение и блютус, зажать на 2 секунуды кнопку на замке. В приложении появится сообщение о получении данных для открытия, замок откроется.
    </li>
    <li>
        Во время поездки можно оставить велосипед запертым на замок. Пристегните велосипед и нажмите
        на кнопку - замок закроется, поездка не закончится.
    </li>
</ol>


<h1>Как завершить аренду</h1>
<ol>
    <li>
        Нажать на значок фотоаппарата, сфотографировать QR-код.
    </li>
    <li>
        Не выключая приложение и блютус, пристегнуть велосипед и зажать на 2 скунды кнопку. Замок закроется, поездка закончится.
    </li>
</ol>


<h1>Ограничения</h1>
<p>
    Не рекомендуем использовать замок при температурах ниже нуля: аккумулятор может замерзнуть и замок заблокируется.
</p>
</div>
